.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}

.form-layout {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.theme {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.theme-icon {
  margin: 32px 32px 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 34px;
  border-radius: 25px;
}

.theme-icon:hover {
  cursor: pointer;
}

.theme-icon-light {
  background: #f6f6f6;
}

.theme-icon-dark {
  background: #262626;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-top: 347px;
  margin-left: 214px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin-left: 126px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-left: 60px;
  }
}

.footer p {
  color: #949494;
  font-family: Acumin Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.24px;
}

.footer p:hover {
  cursor: pointer;
}

.dark-theme {
  background: #131b15;
}

.login-form-position {
  margin-left: 188px;
}

@media screen and (max-width: 1200px) {
  .login-form-position {
    margin-left: 100px;
  }
}

@media screen and (max-width: 500px) {
  .login-form-position {
    margin-left: 0px;
  }
}
